@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lobster&family=Roboto&display=swap');

* {
  font-family: Roboto;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

 
}
.App {
  text-align: center;
}
body {
   background-color: #0336FF; 



}
.wrapper {
  padding: 20px;
}

h1, button {
  font-family: Lobster;
  font-weight: bold;
  background-color: #FFDE03;
  color:#FF0266;
  padding: 10px;
}

input, button {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
}

 button {
  text-align: center;
  align-items: center;
  justify-content: center;
} 

ul {
  padding-top: 150px;
}
.calcul {
  font-family: Lobster;
  font-weight: bold;
  color:#FF0266;
  padding-top: 50px;
}



@media screen and (min-width: 700px) {
  form, .calcul, ul{
    max-width: 400px;
    margin: auto;
  }

  input, button {
    max-width: 200px;
    margin:0 20px 10px 0;
    padding: 0px;
  }
  
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #FFDE03;
  color: #0336FF;
  color: #FF0266;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
